﻿<div class="welcome-body">
    <h1>Добро пожаловать!</h1>
    <div class="welcome-title">
        Вы зашли на сайт объявлений. Чтобы иметь возможность искать и добавлять свои объявления, пожалуйста, зайдите под своим именем.
    </div>
</div>
