﻿.cntrl-membership {
    margin-top: -35px;
}

.main-content {
    width: 60%;
    margin: auto;
}

.welcome-body {
    text-align: center;
}

.welcome-title {
    font-size: 18px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #333333;
    opacity: 0.8;
}

.span-error {
    position: absolute;
    top: 18px;
    left: 60%;
    color: #4C8CFF;
    font-weight: bold;
}

.add-form-error {
    left: 56%;
}

.form-alert {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100000;
}

.add-text {
    overflow: hidden;
    resize: none;
}

textarea.form-control {
    height: 200px;
}

input[type="file"] {
    -webkit-appearance: none;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    padding: 7px 0;
    color: rgb(153, 153, 153);
    width: 100%;
    vertical-align: middle;
    -webkit-box-shadow: 0px 0px 2px 0px rgb(204, 204, 204);
}

    input[type="file"]::-webkit-file-upload-button {
        -webkit-appearance: none;
        margin: -4px;
        font-size: 12px;
        border-radius: 4px;
        padding: 0px 10px;
        color: black;
        padding: 0;
        border: 1px solid rgb(204, 204, 204);
        width: 130px;
        height: 30px;
    }

.post-img img {
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

.post-img {
    text-align: center;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin-bottom: 20px;
}

.post-text {
    text-align: justify;
    font-size: 16px;
}

.panel {
    margin-bottom: 60px;
}

.paging {
    margin: auto;
    width: 100px;
}

.pagination {
    margin-top: -30px;
    margin-bottom: 60px;
}

    .pagination li a {
        background-color: #f5f5f5;
        color: black;
    }

.empty-posts {
    width: 525px;
    margin: auto;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}
